EXPO_PUBLIC_SUPABASE_URL=https://thnrjercrhylnlhomxeu.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRobnJqZXJjcmh5bG5saG9teGV1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzAwNjAxMzksImV4cCI6MjA0NTYzNjEzOX0._kTcdFzenoLbH4UPG6X1EiKLBPHG66HYlwATPyq5e7Q